* {
  margin: 0px 0px;
  padding: 0px opx;
  box-sizing: border-box;
}

/* SECTION 1 OF THE PAGE THE NAVBR */
#section-header {
    background-color: #363945;
    height: 85px;
}

#navigation-bar {
    padding-top: 20px;
}

.li-item {
    font-size: 24px;
    font-weight: 500;
    display: inline;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    text-align: center;
}

.li-item#li-item-special {
    font-weight: 900;
    font-size: 32px;
}

.li-item a {
    text-decoration: none;
    color: #fff;
}

/* SECTION 2 OF THE PAGE */
#section-icons {
    margin-left: 50px;
    margin-top: 50px;
}

#post-1 {
    margin-bottom: 50px;
}

#post-2 {
    margin-bottom: 30px;
}

#post-1 h2 {
    font-size: 28px;
    font-weight: 800;
    display: inline;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    color:  #0059b3;
    text-align: left;
    text-transform: uppercase;
}

#post-2 h2 {
    font-size: 28px;
    font-weight: 800;
    display: inline;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    color:  #0059b3;
    text-align: left;
    text-transform: uppercase;
}

#post-2 p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1px;
    font-weight: 400;
    text-align: left;
    margin-top: 25px;
}

#button-post {
    border-radius: 10%;
    background: transparent;
    color: #e6b800;
    border: 2px solid #e6b800;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding: 15px 15px; /* creates the space betwen text and border */
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-post-1 {
    border-radius: 20%;
    margin-top: 35px;
    box-shadow: 1px 5px 7px rgb(0 0 0 / 0.6);
    margin-left: 40px;
}
.img-post-1 a {
    cursor: pointer;
    text-decoration: none;
}

/* Start of Section 3 footer */
#section-footer {
    background-color: #363945;
    height: 400px;
}

#footer {
    margin-left: 50px;
    padding-top: 50px;
}

#h2-footer {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    color:  #0059b3;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}

.li-footer-item {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.li-footer-item a {
    color: #fff;
    text-decoration: none;
}